%div

  = link_to 'Edit Your Interests', edit_interest_path(@current_user), {:class => 'button_right', :data => {:role => 'button', :icon => 'gear', :mini => 'true', :inline => 'true' }}

  %h2= "Change Password"
  = form_for @user do |f|
    %div{ :data => {:role => 'fieldcontain' }}
      =f.label :name
      =f.text_field :name, :autofocus => true
    %div{ :data => {:role => 'fieldcontain' }}
      =f.label :email
      =f.text_field :email
    %div{ :data => {:role => 'fieldcontain' }}
      =f.label :password
      =f.password_field :password
    %div{ :data => {:role => 'fieldcontain' }}
      =f.label :password_confirmation
      =f.password_field :password_confirmation
    =f.submit 'Submit'