%div.col-md-5

  %h2= "Edit User Account"

  = form_for @user do |f|
    %div.form-group
      =f.label :name
      =f.text_field :name, :autofocus => true, :class => 'form-control'
    %div.form-group
      =f.label :email
      =f.text_field :email, :class => 'form-control'
    %div.form-group
      =f.label :password
      =f.password_field :password, :class => 'form-control'
    %div.form-group
      =f.label :password_confirmation
      =f.password_field :password_confirmation, :class => 'form-control'
    =f.submit 'Update', :class => "btn btn-success blue"

  = link_to 'Edit Interests', edit_interest_path(@current_user)