<h1> About Hopp </h1>

<div class="about">

  <p>If you ever lost hours searching the internet or been trapped in a mindless click trance, you've just met your new best friend.</p>

  <p>Hopp takes your interests and available time then gives you back content from the best sources on the web, whatever device or platform you're on.</p>

  <p>Hopp. Fill your time with the stuff you love.</p>


  <p>Brought to you by:</p>

  <p>Matt Thees, <a href="mailto:mtt33@georgetown.edu">mtt33@georgetown.edu></a>
  <p>Nick Doherty, <a href="mailto:nickdoherty@gmail.com">nickdoherty@gmail.com</a>

  <p>Thanks to:</p>

  <p>Joel Turnbull (General Assembly), Daniel Tsui (General Assembly).</p>

</div>



