<h1> About Hopp </h1>

<div class="about">


  <p> Have you ever noticed how you can lose yourself in endless recommendations and external links on the internet, or how you end up losing track of time or spend more time than you originally planned on your favorite sites?</p>

  <p> Hopp is the fix to all of your problems when it comes to procrastinating on the internet.</p>

  <p> We take in your interests once <span class="small-text">(don't worry you can edit these at any time)</span>, and give you content <span class="strong">relevant to you</span>, all from your favorite sources. The best part is, we do it all based on how much time you have to spend each time you visit the site.</p>

  <p> Hopp is perfect for a break from your work, or to fill your commute with time appropriate content. </p>

  <p><span class="strong"> Hopp. Fill your time with the stuff you love.</span></p>

  <p><a href="/"><< Back to Home</a></p>

</div>



