<h1>How long have you got?</h1>

<label for="mydate"></label>

<input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "durationbox", "overrideDurationFormat": "%DM:%DS", "useFocus": true, "useButton": false, "overrideTitleDateDialogLabel": "hopp Timer"}'>