<h1>How much time do you have?</h1>

<label for="mydate">Set time</label>

<input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "durationbox", "overrideDurationFormat": "%DM:%DS"}'>