<h1> Contact </h1>

<div class="no-text-shadow">

  <p class="big"> Find us on... </p>

  <a class="social" href="https://www.facebook.com/hoppappsydney" target="_blank">
    <div class="social-link-circle">
      <i class="fa fa-facebook"></i>
    </div>
  </a>

  <a class="social" href="https://twitter.com/hopp_app" target="_blank">
    <div class="social-link-circle">
      <i class="fa fa-twitter"></i>
    </div>
  </a>


<!--     <div class="social-link-circle">
      <i class="fa fa-linkedin"></i>
    </div> -->


  <p>Hopp was made by:</p>

  <p>Nick Doherty
    <a href="mailto:nickdoherty@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="http://www.linkedin.com/profile/view?id=22024237&locale=en_US&trk=tyah&trkInfo=tas%3Anick%2Cidx%3A3-1-3" target="_blank"><i class="fa fa-linkedin-square"></i></a>
  </p>

  <p>Matt Thees
    <a href="mailto:mtt33@georgetown.edu"><i class="fa fa-envelope"></i></a>
    <a href="http://www.linkedin.com/profile/view?id=278183632&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square"></i></a>
  </p>

  <p> Feel free to contact us with feedback or suggestions!</p>

  <br/>
  <br/>

   <p><a href="/"><< Back to Home</a></p>

  <div class="thanks">
    <p>Special thanks to:</p>
    <p>Joel Turnbull + Daniel Tsui</p>
  </div>

</div>