<div class="home">
  <h1 class="logo-large">hopp</h1>

  <p class="home_text">Turbo-charge your morning commute. Take control of your study break. Super-size your lunch break. Fill your time with the stuff you love. Make every second count.</p>

  <%if @current_user.present? %>
    <%= button_to 'Hopp to it!', begin_path, :method => :get, "data-inline" => "true", "data-role" => "button", "data-icon" => "check", "data-iconpos" => "top" %>
  <% else %>
    <%= link_to 'Sign Up', new_user_path, "data-role" => "button", "data-inline" => "true", "data-icon" => "plus", "data-iconpos" => "top" %>
    <%= link_to 'Login', user_login_path, "data-role" => "button", "data-inline" => "true", "data-icon" => "check", "data-iconpos" => "top" %>
    <h2> or.. </h2>
    <%= link_to 'Try it Out', demo_path, "class" => "demo-button", "data-role" => "button", "data-block" => "true", "data-icon" => "arrow-r", "data-iconpos" => "top" %>
  <% end %>

<script>
$(document).bind('pagechange', function () {
  if ($('.home').is(':visible')) {
    url = 'url(/assets/hopp_background.jpg)'
  } else {
    url = 'none'
  }
  $('body .ui-body-b').css({
    backgroundImage: url
  });
});
</script>

<style>
body .ui-body-b {
  background-position: 55% 35%;
  background-size: cover;
}
</style>

</div>