<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Let's hopp!</title>
  </head>

  <body>
    <h1>Welcome to hopp...</h1>
    <p>Some awesome text goes here.</p>
    <%= link_to 'Get ready to hopp', new_user_path, :class => 'btn btn-primary btn-lg' %>
    <%= button_to 'Logout', logout_path, :method => :delete, :class => 'btn btn-warning' %>
  </body>

  <footer>
    <p>&copy; Nick Doherty, Matt Thees 2013</p>
  </footer>
  </html>