<div class="home">
  <h1 class="logo-large">hopp</h1>

  <p class="home_text">Turbo-charge your morning commute. Take control of your study break. Super-size your lunch break. Fill your time with the stuff you love. Make every second count.</p>

  <%if @current_user.present? %>
    <%= button_to 'Hopp to it!', begin_path, :method => :get %>
  <% else %>
    <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Login', user_login_path %>
    <h2> or.. </h2>
    <%= link_to 'Try it Out', demo_path, "class" => "demo-button" %>
  <% end %>

<script>
$(document).bind('pagechange', function () {
  if ($('.home').is(':visible')) {
    url = 'url(/assets/hopp_background.jpg)'
  } else {
    url = 'none'
  }
  $('body .ui-body-b').css({
    backgroundImage: url
  });
});
</script>

<style>
body .ui-body-b {
  background-position: 55% 35%;
  background-size: cover;
}
</style>

</div>