   <div class="jumbotron">
      <div class="container">
        <h1>Welcome to hopp.</span></h1>
        <p>Some awesome text goes here.</p>
        <%= link_to 'Get ready to hopp', new_user_path, :class => 'btn btn-primary btn-lg' %>
      </div>
    </div>

      <footer>
        <p>&copy; Nick Doherty, Matt Thees 2013</p>
      </footer>
    </div> <!-- /container -->
