<div class="col-md-5">
  <h2>What do you like to listen to?</h2>
    <%= form_tag '/interests' do %>
      <input type="checkbox" name="interest[]" value="hiphop">Hip Hop<br>
      <input type="checkbox" name="interest[]" value="reggae">Reggae<br>
      <input type="checkbox" name="interest[]" value="electronic">Electronic<br>
      <input type="checkbox" name="interest[]" value="pop">Pop<br>
      <input type="checkbox" name="interest[]" value="rock">Rock<br>
      <input type="checkbox" name="interest[]" value="classical">Classical<br>
      <input type="checkbox" name="interest[]" value="metal">Metal<br>
      <input type="checkbox" name="interest[]" value="world">World<br>
      <input type="checkbox" name="interest[]" value="jazz&blues">Jazz & Blues<br>
      <input type="checkbox" name="interest[]" value="comedy">Comedy<br>
      <input type="checkbox" name="interest[]" value="news">News<br>
      <input type="checkbox" name="interest[]" value="sports">Sports<br>
      <input type="checkbox" name="interest[]" value="books">Books<br>

      <input type="submit" value="Save" class="btn btn-primary">
    <% end %>
</div>

<div class="col-md-offset-1 col-md-5">
  <h2>What are you favorite catagories on YouTube?</h2>
    <%= form_for @interest do |f| %>
      <input type="checkbox" name="interest" value="top_rated">Top Rated<br>
      <input type="checkbox" name="interest" value="movies">Movies<br>
      <input type="checkbox" name="interest" value="trailers">Trailers<br>
      <input type="checkbox" name="interest" value="tech">Tech<br>
      <input type="checkbox" name="interest" value="news">News<br>
      <input type="checkbox" name="interest" value="entertainment">Entertainment<br>
      <input type="checkbox" name="interest" value="comedy">Comedy<br>
      <input type="checkbox" name="interest" value="games">Games<br>
      <input type="checkbox" name="interest" value="sports">Sports<br>
      <input type="checkbox" name="interest" value="music">Music<br>
      <input type="checkbox" name="interest" value="travel">Travel<br>
      <input type="checkbox" name="interest" value="animals">Animals<br>
      <input type="checkbox" name="interest" value="howto">Howto<br>
    <%end%>
</div>