@font-face {
    font-family: 'nanamiblack';
    src: url('/assets/nanami-black-webfont.eot');
    src: url('/assets/nanami-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/nanami-black-webfont.woff') format('woff'),
         url('/assets/nanami-black-webfont.ttf') format('truetype'),
         url('/assets/nanami-black-webfont.svg#nanamiblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanamiextralight';
    src: url('/assets/nanami-extralight-webfont.eot');
    src: url('/assets/nanami-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/nanami-extralight-webfont.woff') format('woff'),
         url('/assets/nanami-extralight-webfont.ttf') format('truetype'),
         url('/assets/nanami-extralight-webfont.svg#nanamiextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanamithin';
    src: url('/assets/nanami-thin-webfont.eot');
    src: url('/assets/nanami-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/nanami-thin-webfont.woff') format('woff'),
         url('/assets/nanami-thin-webfont.ttf') format('truetype'),
         url('/assets/nanami-thin-webfont.svg#nanamithin') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
  font-family: 'nanamiextralight', sans-serif;
  font-size: large;
}

.home_text {
  font-family: 'nanami', sans-serif;
  font-size: large;
  color: white;
}

h1 {
  font-family: 'Cabin', sans-serif;
}

.ui-content {
  background-color: none;
}

div.ui-input-text {
  background-color: white;
}


 .ui-body-b {
  background-color: #91C4BE;
}


.container {
  text-align: center;
}

.content_container {
  max-width: 700px;
  text-align: left;
  margin: auto;
  background: rgba(237,237,237,0.5);
  border-radius: 15px;
  padding: 20px;
  color: black;
  text-shadow: none;
}

.home {
  background-color: grey;
  background: rgba(79, 83, 90, 0.7);
  border-radius: 15px;
  max-width: 700px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-shadow: none;
}

.home h1 {
  margin-top: 30px
}

.content_container img {
  max-width: 100%;
}

.content_container .btn-set, .content_container .follow-wrapper, .content_container iframe {
  display: none;
  visibility: hidden;
}

.video_container {
  max-width: 540px;
  margin: auto
}

.video_container iframe {
  width: 100%;
  display: block;
  margin: auto;
}

.logo-large {
  font-family: 'nanamiblack', sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: white;
}

.button_right {
  float: right;
}

.button_left {
  float: left;
}

.minor {
  font-family: 'nanamiextralight', sans-serif;
  font-size: small;
}

.twitter-share-button {
}

.ui-mobile-viewport {
  padding-top: 20px;
}

.whatever_content {
  margin-top: 57px;
}

.end_page {
  max-width: 650px;
  min-height: 300px;
  margin: auto;
  margin-top: 75px;
  padding: 10px 10px;
  background: rgba(237,237,237,0.5);
  text-shadow: none;
  border-radius: 15px;
}

.bookmarks_table {
  margin: auto;
  display: inline-block;
  text-shadow: none;
}

.about {
  background-color: grey;
  background: rgba(79, 83, 90, 0.7);
  border-radius: 15px;
  max-width: 700px;
  margin: auto;
  padding: 20px 20px;
  text-shadow: none;
}



