
<%== @track if @track %>

<%== @video if @video %>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a href="index.html" data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="notext">Up</a>
  <a href="index.html" id="go-right" data-role="button" data-icon="arrow-r" data-iconpos="notext">Down</a>
</div>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a href="#show-count" id="time-check" data-role="button" data-rel="popup" data-icon="info" data-iconpos="left" data-inline="true">Time left</a>
</div>


<div data-role="content">

  <div id="show-count" data-role="popup" data-position-to="window" data-tolerance="50,30,30,30" data-theme="d">

    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
      <p><span id="timer">Timer is not running</span></p>
  </div>
</div>