<%== @html if @html %>

<%== @track if @track %>

<%== @video if @video %>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a href="index.html" data-role="button" data-icon="arrow-l" data-iconpos="notext">Up</a>
  <a href="index.html" data-role="button" data-icon="arrow-r" data-iconpos="notext">Down</a>
</div>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a href="index.html" data-role="button" data-icon="info" data-iconpos="left" data-inline="true">Time left</a>
  </div>