


<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="button_right">
  <a href="index.html" data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="notext">Up</a>
  <a href="index.html" id="go-right" data-role="button" data-icon="arrow-r" data-iconpos="notext">Down</a>
</div>

<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="button_left">
  <a href="#show-count" id="time-check" data-role="button" data-rel="popup" data-icon="info" data-iconpos="left" data-inline="true">Time left</a>
</div>

<script>
  window.current_url = '<%=j @url %>';
</script>

<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="button_left">
  <a class="bookmark" data-role="button" data-icon="star" data-iconpos="left" data-inline="true">Hoppmark</a>
</div>



<div class="whatever_content">
  <% if @medium_content.present? %>
    <h3> via <a href="http://www.medium.com" target="_blank">Medium</a></h3>
    <div class="content_container">
      <%== @medium_content %>
    </div>
  <% end %>

  <%== @soundcloud_content if @soundcloud_content %>

  <%if @youtube_content.present? %>
    <div class="video_container">
      <%== @youtube_content if @youtube_content %>
    </div>
  <%end%>
</div>
<div data-role="content">

  <div id="show-count" data-role="popup" data-position-to="window" data-tolerance="50,30,30,30" data-theme="d">

    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
      <p><span id="timer">Timer is not running</span></p>
  </div>
</div>
